@model Labb2_EF.Models.JoinModels.Enrollment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Students.StudentFullName" class="control-label"></label>
                <select asp-for="FK_StudentId" class ="form-control" asp-items="ViewBag.FK_StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Teachers.TeacherFullName" class="control-label"></label>
                <select asp-for="FK_TeacherId" class ="form-control" asp-items="ViewBag.FK_TeacherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Courses.CourseName" class="control-label"></label>
                <select asp-for="FK_CourseId" class ="form-control" asp-items="ViewBag.FK_CourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Classes.ClassName" class="control-label"></label>
                <select asp-for="FK_ClassId" class ="form-control" asp-items="ViewBag.FK_ClassId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

