@model Labb2_EF.Models.JoinModels.TeacherCourse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit teacher for course or course for teacher</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeacherCourseId" />
            <div class="form-group">
                <label asp-for=" Teachers.TeacherFullName" class="control-label"></label>
                <select asp-for="FK_TeacherId" class="form-control" asp-items="ViewBag.FK_TeacherId"></select>
                <span asp-validation-for="FK_TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses.CourseName" class="control-label"></label>
                <select asp-for="FK_CourseId" class="form-control" asp-items="ViewBag.FK_CourseId"></select>
                <span asp-validation-for="FK_CourseId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
