
@{
    ViewData["Title"] = "Index";
}

<h1>Task Lab2_EF</h1>

<div>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Task" asp-action="GetTeacherCourse">Search teacher/Course</a>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Task" asp-action="GetAllStudentsTeachers">Get all students with teachers</a>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Task" asp-action="Edit">Edit course</a>
</div>

</div>